@model MordenDoors.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row h-85">
        <div class="col-sm-4 mx-auto my-auto">
            <div class="main-card card">
                <div class="card-body">
                    <h3 class="text-center">Forgot Password</h3>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label required" })
                        <div class="col-md-12 text-center">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <input type="submit" class="btn bg-grow-early text-white" value="Send Email Link" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts { @Scripts.Render("~/bundles/jqueryval") }
