@using MordenDoors.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row h-85 w-100">
    <div class="col-md-4 mx-auto my-auto">
        <div class="main-card card">
            <div class="card-body">
                <section id="loginForm" class="form-wrap login-form-adjst-error">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "required" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "required" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="form-group">
                                    <input type="submit" value="Log in" class="btn btn-lg btn-success" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var a = '@TempData["ForgotPassword"]';
            if (a != '')
            {
                if (a = true)
                    swal({ title: "Done", text: "Password Reset link is Sent To @TempData["Email"] !!!", icon: "success" });
            }
        });
    </script>
}